{{define "main"}}

<!-- Hero -->
<div class="container content-space-3">
  <div class="row">
    <div class="col-md-7 mb-7 mb-md-0">
      <div class="pe-md-4">
        <div class="card-pinned">
          <!-- Swiper Main Slider -->
          <div class="js-swiper-shop-product swiper">
            <div class="swiper-wrapper">
              <!-- Slide -->
              <div class="swiper-slide">
                <div class="card card-bordered shadow-none">{{ $image := resources.GetMatch "images/blossom.jpg" }}
                  <img class="card-img lazyload blur-up" src="{{if eq .Params.image nil}}{{ $image.RelPermalink }}{{else}}{{.Params.image}}{{end}}" alt="{{.Title}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Col -->

    <div class="col-md-5">
      <!-- Rating -->
      <a class="d-flex gap-1 mb-4" href="#reviewSection">
        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
        <span class="ms-1">287 reviews</span>
      </a>
      <!-- End Rating -->

      <!-- Heading -->
      <div class="mb-5">
        <h1 class="h2">{{.Title}}</h1>
        {{if eq ".Description" nil}}{{$.Site.Params.description}}{{else}}{{.Description}}{{end}}
      </div>
      <!-- End Heading -->

      <!-- Price -->
      <div class="mb-3">
        <span class="d-block mb-2">Harga:</span>
        <div class="d-flex align-items-center text-right">
          <h3 class="mb-0">Rp. {{ lang.NumFmt 2 .Params.price "- , ." }}</h3>
        </div>
      </div>
      <!-- End Price -->

      <!-- Accordion -->
      <div class="accordion mx-4" id="shopCartAccordion">
        <!-- Collapse -->
        <div class="accordion-item">
          <a class="accordion-button collapsed" href="#" role="button" data-bs-toggle="collapse"
            data-bs-target="#shopCartAccordionCollapseOne" aria-expanded="false"
            aria-controls="shopCartAccordionCollapseOne">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <span class="svg-icon svg-icon-sm text-primary">
                </span>
              </div>
              <div class="flex-grow-1 ms-3">
                Free shipping
              </div>
            </div>
          </a>

          <div id="shopCartAccordionCollapseOne" class="accordion-collapse collapse"
            data-bs-parent="#shopCartAccordion">
            <div class="accordion-body">
              <p class="mb-0">We offer free shipping anywhere in the U.S. A skilled delivery team will bring the boxes
                into your office.</p>
            </div>
          </div>
        </div>
        <!-- End Collapse -->

        <!-- Collapse -->
        <div class="accordion-item">
          <a class="accordion-button collapsed" href="#" role="button" data-bs-toggle="collapse"
            data-bs-target="#shopCartAccordionCollapseTwo" aria-expanded="false"
            aria-controls="shopCartAccordionCollapseTwo">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <span class="svg-icon svg-icon-sm text-primary">
                   <img src="/assets/vendor/duotone-icons/ecm/ecm012.svg" alt="">
                </span>
              </div>
              <div class="flex-grow-1 ms-3">
                30 Days return
              </div>
            </div>
          </a>

          <div id="shopCartAccordionCollapseTwo" class="accordion-collapse collapse"
            data-bs-parent="#shopCartAccordion">
            <div class="accordion-body">
              <p class="mb-0">If you're not satisfied, return it for a full refund. We'll take care of disassembly and
                return shipping.</p>
            </div>
          </div>
        </div>
        <!-- End Collapse -->
      </div>
      <!-- End Accordion -->

      <div class="d-grid mb-4">
        <button type="button" class="btn btn-primary btntransition">Add to cart</button>
      </div>

      <!-- Media -->
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <div class="svg-icon svg-icon-sm text-primary">
            <img class="lazyload blur-up" src="/assets/vendor/duotone-icons/com/com012.svg" alt="{{.Title}}">
          </div>
        </div>
        <div class="flex-grow-1 ms-2">
          <span class="small me-1">Need Help?</span>
          <a class="link small" href="#">Chat now</a>
        </div>
      </div>
      <!-- End Media -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Hero -->

{{end}}
