{{define "main"}}

<!-- Hero -->
<div class="container content-space-3">
  <div class="row">
    <div class="col-md-7 mb-7 mb-md-0">
      <div class="pe-md-4">
        <div class="card-pinned">
          <!-- Swiper Main Slider -->
          <div class="js-swiper-shop-product swiper">
            <div class="swiper-wrapper">
              <!-- Slide -->
              <div class="swiper-slide">
                <div class="card card-bordered shadow-none">
                  <img class="card-img lazyload blur-up" src="/assets/img/600x600/img1.jpg" alt="Image Description">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Col -->

    <div class="col-md-5">
      <!-- Rating -->
      <a class="d-flex gap-1 mb-4" href="#reviewSection">
        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
        <span class="ms-1">287 reviews</span>
      </a>
      <!-- End Rating -->

      <!-- Heading -->
      <div class="mb-5">
        <h1 class="h2">New Era 9Forty LA Dodgers adjustable cap in black</h1>
        <p>American label New Era manufacturing baseball hats for teams since the 1930s.</p>
      </div>
      <!-- End Heading -->

      <!-- Price -->
      <div class="mb-5">
        <span class="d-block mb-2">Total price:</span>
        <div class="d-flex align-items-center">
          <h3 class="mb-0">$159.99</h3>
          <span class="ms-2"><del>$179.99</del></span>
        </div>
      </div>
      <!-- End Price -->

      <!-- Quantity -->
      <div class="quantity-counter mb-3">
        <div class="js-quantity-counter row align-items-center">
          <div class="col">
            <span class="d-block small">Select quantity</span>
            <input class="js-result form-control form-control-quantity-counter" type="text" value="1">
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <a class="js-minus btn btn-outline-secondary btn-xs btn-icon rounded-circle" href="javascript:;">
              <svg width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 1C0 0.723858 0.223858 0.5 0.5 0.5H7.5C7.77614 0.5 8 0.723858 8 1C8 1.27614 7.77614 1.5 7.5 1.5H0.5C0.223858 1.5 0 1.27614 0 1Z"
                  fill="currentColor" />
              </svg>
            </a>
            <a class="js-plus btn btn-outline-secondary btn-xs btn-icon rounded-circle" href="javascript:;">
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4 0C4.27614 0 4.5 0.223858 4.5 0.5V3.5H7.5C7.77614 3.5 8 3.72386 8 4C8 4.27614 7.77614 4.5 7.5 4.5H4.5V7.5C4.5 7.77614 4.27614 8 4 8C3.72386 8 3.5 7.77614 3.5 7.5V4.5H0.5C0.223858 4.5 0 4.27614 0 4C0 3.72386 0.223858 3.5 0.5 3.5H3.5V0.5C3.5 0.223858 3.72386 0 4 0Z"
                  fill="currentColor" />
              </svg>
            </a>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Quantity -->

      <!-- Accordion -->
      <div class="accordion mb-5" id="shopCartAccordion">
        <!-- Collapse -->
        <div class="accordion-item">
          <a class="accordion-button collapsed" href="#" role="button" data-bs-toggle="collapse"
            data-bs-target="#shopCartAccordionCollapseOne" aria-expanded="false"
            aria-controls="shopCartAccordionCollapseOne">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <span class="svg-icon svg-icon-sm text-primary">





                </span>
              </div>
              <div class="flex-grow-1 ms-3">
                Free shipping
              </div>
            </div>
          </a>

          <div id="shopCartAccordionCollapseOne" class="accordion-collapse collapse"
            data-bs-parent="#shopCartAccordion">
            <div class="accordion-body">
              <p class="mb-0">We offer free shipping anywhere in the U.S. A skilled delivery team will bring the boxes
                into your office.</p>
            </div>
          </div>
        </div>
        <!-- End Collapse -->

        <!-- Collapse -->
        <div class="accordion-item">
          <a class="accordion-button collapsed" href="#" role="button" data-bs-toggle="collapse"
            data-bs-target="#shopCartAccordionCollapseTwo" aria-expanded="false"
            aria-controls="shopCartAccordionCollapseTwo">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <span class="svg-icon svg-icon-sm text-primary">
                   <img src="/assets/vendor/duotone-icons/ecm/ecm012.svg" alt="">
                </span>
              </div>
              <div class="flex-grow-1 ms-3">
                30 Days return
              </div>
            </div>
          </a>

          <div id="shopCartAccordionCollapseTwo" class="accordion-collapse collapse"
            data-bs-parent="#shopCartAccordion">
            <div class="accordion-body">
              <p class="mb-0">If you're not satisfied, return it for a full refund. We'll take care of disassembly and
                return shipping.</p>
            </div>
          </div>
        </div>
        <!-- End Collapse -->
      </div>
      <!-- End Accordion -->

      <div class="d-grid mb-4">
        <button type="button" class="btn btn-primary btntransition">Add to cart</button>
      </div>

      <!-- Media -->
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <div class="svg-icon svg-icon-sm text-primary">
            <img class="lazyload blur-up" src="/assets/vendor/duotone-icons/com/com012.svg" alt="{{.Title}}">
          </div>
        </div>
        <div class="flex-grow-1 ms-2">
          <span class="small me-1">Need Help?</span>
          <a class="link small" href="#">Chat now</a>
        </div>
      </div>
      <!-- End Media -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Hero -->

{{end}}
