{{define "main"}}


<!-- Card Grid -->
<div class="container content-space-sm-2">
  <!-- Title -->
  <div class="w-md-75 text-center mx-md-auto mb-9">
    <h2>{{.Title}}</h2>
    <p>{{.Description}}</p>
  </div>
  <!-- End Title -->

  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mb-5">

    {{ $paginator := .Paginate (.Data.Pages) -}}
    {{ range $paginator.Pages -}}
    <div class="col mb-5">
      <!-- Card -->
      <a href="{{.RelPermalink}}">
        <div class="card card-bordered h-100">
          <!-- Card Pinned -->
          <div class="card-pinned">
            <img class="card-img-top lazyload blur-up" src="{{.Params.images}}" alt="Image Description">

            <div class="card-pinned-top-start">
              {{if .Params.bestseller}}<small class="badge bg-success rounded-pill">Bestseller</small>{{end}}
            </div>

            <div class="card-pinned-bottom-start">
              <div class="d-flex align-items-center flex-wrap">
                <!-- Rating -->
                <div class="d-flex gap-1">
                  <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                  <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                  <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                  <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                  <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                </div>
                <!-- End Rating -->
                <div class="ms-1">
                  <span class="fw-semibold text-white me-1">4.91</span>
                  <span class="text-white-70">(1.5k+ reviews)</span>
                </div>
              </div>
            </div>
          </div>
          <!-- End Card Pinned -->

          <!-- Card Body -->
          <div class="card-body">
            <small class="card-subtitle">{{with .Params.categories}}<a href="/categories/{{. | urlize}}">
                {{.}}</a>{{end}}</small>

            <div class="mb-3">
              <h3 class="card-title">
                <a class="text-dark" href="{{.RelPermalink}}">{{.Title}}</a>
              </h3>
            </div>

          </div>
          <!-- End Card Body -->

          <!-- Card Footer -->
          <div class="card-footer pt-0">
            <div class="d-flex justify-content-between align-items-center">
              <div class="me-2">
                <h5 class="card-title">Rp. {{ lang.NumFmt 2 .Params.price "- , ." }}</h5>
              </div>
              <a class="btn btn-primary btn-sm btn-transition" href="../demo-course/course-overview.html">Preview</a>
            </div>
          </div>
          <!-- End Card Footer -->
        </div>
      </a>
      <!-- End Card -->
    </div>
    {{end}}
  </div>
  <!-- End Row -->

  <div class="text-center">
    {{ template "_internal/pagination.html" . -}}
  </div>
</div>
<!-- End Card Grid -->

{{end}}
