{{define "main"}}
<!-- Contacts -->
<div class="position-relative">
    <div class="bg-primary bg-img-end" style="background-image: url(/assets/svg/components/shape-7.svg);">
      <div class="container content-space-t-2 content-space-t-lg-3 content-space-b-1">
        <!-- Heading -->
        <div class="w-lg-50 text-center mx-lg-auto mb-7">
          <span class="text-cap text-white-70">Hubungi kami</span>
          <h2 class="text-white lh-base">Kami berkolaborasi dengan merek atau individu yang ambisius. <span class="text-warning">Ayo kita terhubung.</span></h2>
        </div>
        <!-- End Heading -->
  
        <div class="mx-auto" style="max-width: 35rem;">
          <!-- Card -->
          <div class="card zi-2">
            <div class="card-body">
              <!-- Form -->
              <form>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="hireUsFormFirstNameEg1">Nama depan</label>
                      <input type="text" class="form-control form-control-lg" name="hireUsFormNameFirstName" id="hireUsFormFirstNameEg1" placeholder="Nama depan" aria-label="First name">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->
  
                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="hireUsFormLasttNameEg1">Nama belakang</label>
                      <input type="text" class="form-control form-control-lg" name="hireUsFormNameLastName" id="hireUsFormLasttNameEg1" placeholder="Nama belakang" aria-label="Last name">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
  
                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="hireUsFormWorkEmailEg1">Email</label>
                  <input type="email" class="form-control form-control-lg" name="hireUsFormNameWorkEmail" id="hireUsFormWorkEmailEg1" placeholder="emailKamu@gmail.com" aria-label="email@site.com">
                </div>
                <!-- End Form -->
  
                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="hireUsFormCompanyNameEg2">Nama perusahaan <span class="form-label-secondary">(Opsional)</span></label>
                  <input type="text" class="form-control form-control-lg" name="hireUsFormNameCompanyName" id="hireUsFormCompanyNameEg2" placeholder="Salsabilla Florist" aria-label="Htmlstream">
                </div>
                <!-- End Form -->
  
                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="hireUsFormDetailsEg1">Details</label>
                  <textarea class="form-control form-control-lg" name="hireUsFormNameDetails" id="hireUsFormDetailsEg1" placeholder="Kritik, saran, wawasan..." aria-label="Kritik, saran, wawasan..." rows="4"></textarea>
                </div>
                <!-- End Form -->
  
                <!-- Check -->
                <div class="form-check mb-4">
                  <input type="checkbox" class="form-check-input" id="signupFormPrivacyCheckEg1" name="signupFormPrivacyCheckEg1" required data-msg="Please accept our Privacy Policy.">
                  <label class="form-check-label small" for="signupFormPrivacyCheckEg1"> Dengan mengirimkan formulir ini saya telah membaca dan mengakui <a href="/privasi">Privacy Policy</a></label>
                </div>
                <!-- End Check -->
  
                <div class="d-grid mb-2">
                  <button type="submit" class="btn btn-primary btn-lg">Kirim</button>
                </div>
  
                <div class="text-center">
                  <span class="form-text">Kami akan menghubungi Anda kembali dalam 1-2 hari kerja.</span>
                </div>
              </form>
              <!-- End Form -->
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
    </div>
  
    <!-- Shape -->
    <div class="shape shape-bottom zi-1">
      <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 500H3000V0L0 500Z" fill="#fff"/>
      </svg>
    </div>
    <!-- End Shape -->
  </div>
  <!-- End Contacts -->
  {{end}}