<!-- Features -->
<div class="overflow-hidden">
  <div class="container content-space-1 content-space-lg-1">
    <!-- Heading -->
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <span class="text-cap ">Semua yang Anda inginkan, ada di Salsabilla Florist</span>
      <h2 class="text-danger">Kelebihan Salsabilla Florist</h2>
    </div>
    <!-- End Heading -->

    <div class="w-md-75 mx-md-auto">
      <div class="row justify-content-lg-center align-items-md-center">
        <div class="col-md-5 mb-7 mb-md-0">
          <!-- List Checked -->
          <ul class="list-checked list-checked-soft-bg-primary list-checked-lg mb-5">
            <li class="list-checked-item">Desain bunga terbaru</li>
            <li class="list-checked-item">Kombinasi warna tidak norak</li>
            <li class="list-checked-item">Di jamin sesuai pesanan</li>
            <li class="list-checked-item">Proses pengerjaan cepat</li>
            <li class="list-checked-item">Bunga segar</li>
          </ul>
          <!-- End List Checked -->

          <a class="link" href="/koleksi">Lihat Koleksi <i class="bi-chevron-right small ms-1"></i></a>
        </div>
        <!-- End Col -->

        <div class="col-md-7 col-lg-5">
          <div class="position-relative">
            <!-- Card -->
            <div class="card">
              <div class="card-body">
                <span class="svg-icon text-primary mb-4">
                  <img src="/assets/vendor/duotone-icons/cod/cod009.svg" alt="cod">
                </span>

                <h3 class="card-title">We tackle the challenges start-ups face</h3>
                <p class="card-text">Besides working with start-up enterprises as a partner for digitalization, we have
                  built enterprise products for common pain points that we have encountered in various products and
                  projects.</p>
              </div>
            </div>
            <!-- End Card -->

            <!-- SVG Shape -->
            <figure class="position-absolute bottom-0 end-0 zi-n1 mb-n7 me-n7" style="width: 12rem;">
              <img class="img-fluid" src="/assets/svg/components/dots-lg.svg" alt="Image Description">
            </figure>
            <!-- End SVG Shape -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
</div>
<!-- End Features -->
