{{ define "main" }}

<!-- Card Grid -->
<div class="container content-space-sm-2">
  <!-- Title -->
  <div class="w-md-75 text-center mx-md-auto mb-9">
    <h2>Featured courses</h2>
    <p>Discover your perfect program in our courses.</p>
  </div>
  <!-- End Title -->

  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mb-5">
    <div class="col mb-5">
      <!-- Card -->
      <div class="card card-bordered h-100">
        <!-- Card Pinned -->
        <div class="card-pinned">
          <img class="card-img-top" src="/assets/svg/components/card-12.svg" alt="Image Description">

          <div class="card-pinned-top-start">
            <small class="badge bg-success rounded-pill">Bestseller</small>
          </div>

          <div class="card-pinned-bottom-start">
            <div class="d-flex align-items-center flex-wrap">
              <!-- Rating -->
              <div class="d-flex gap-1">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              </div>
              <!-- End Rating -->
              <div class="ms-1">
                <span class="fw-semibold text-white me-1">4.91</span>
                <span class="text-white-70">(1.5k+ reviews)</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card Pinned -->

        <!-- Card Body -->
        <div class="card-body">
          <small class="card-subtitle">Code</small>

          <div class="mb-3">
            <h3 class="card-title">
              <a class="text-dark" href="../demo-course/course-overview.html">Complete Python Bootcamp: Go from zero to hero in Python</a>
            </h3>
          </div>

          <div class="row align-items-center">
            <div class="col">
              <div class="avatar-group avatar-group-xs">
                <a class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="Nataly Gaga" href="#">
                  <img class="avatar-img" src="/assets/img/160x160/img3.jpg" alt="Image Description">
                </a>
              </div>
            </div>
            <!-- End Col -->

            <div class="col-auto">
              <ul class="list-inline list-separator small ms-auto">
                <li class="list-inline-item">
                  <i class="bi-book me-1"></i> 10 lessons
                </li>
                <li class="list-inline-item">
                  <i class="bi-clock me-1"></i> 3h 25m
                </li>
              </ul>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Card Body -->

        <!-- Card Footer -->
        <div class="card-footer pt-0">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-2">
              <span class="d-block text-muted small"><del>$114.99</del></span>
              <h5 class="card-title">$99.99</h5>
            </div>
            <a class="btn btn-primary btn-sm btn-transition" href="../demo-course/course-overview.html">Preview</a>
          </div>
        </div>
        <!-- End Card Footer -->
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col mb-5">
      <!-- Card -->
      <div class="card card-bordered h-100">
        <!-- Card Pinned -->
        <div class="card-pinned">
          <img class="card-img-top" src="/assets/svg/components/card-13.svg" alt="Image Description">

          <div class="card-pinned-bottom-start">
            <div class="d-flex align-items-center flex-wrap">
              <!-- Rating -->
              <div class="d-flex gap-1">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              </div>
              <!-- End Rating -->
              <div class="ms-1">
                <span class="fw-semibold text-white me-1">4.95</span>
                <span class="text-white-70">(1k+ reviews)</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card Pinned -->

        <!-- Card Body -->
        <div class="card-body">
          <small class="card-subtitle">Design & Illustration</small>

          <div class="mb-3">
            <h3 class="card-title">
              <a class="text-dark" href="../demo-course/course-overview.html">From the Top: Adobe Illustrator for Beginners</a>
            </h3>
          </div>

          <div class="row align-items-center">
            <div class="col">
              <div class="avatar-group avatar-group-xs">
                <a class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="Emily Milda" href="#">
                  <img class="avatar-img" src="/assets/img/160x160/img8.jpg" alt="Image Description">
                </a>
                <a class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="John O'nolan" href="#">
                  <img class="avatar-img" src="/assets/img/160x160/img4.jpg" alt="Image Description">
                </a>
              </div>
            </div>
            <!-- End Col -->

            <div class="col-auto">
              <ul class="list-inline list-separator small ms-auto">
                <li class="list-inline-item">
                  <i class="bi-book me-1"></i> 8 lessons
                </li>
                <li class="list-inline-item">
                  <i class="bi-clock me-1"></i> 7h 59m
                </li>
              </ul>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Card Body -->

        <!-- Card Footer -->
        <div class="card-footer pt-0">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-2">
              <span class="d-block text-muted small"><del>$129.99</del></span>
              <h5 class="card-title">$119.99</h5>
            </div>
            <a class="btn btn-primary btn-sm btn-transition" href="../demo-course/course-overview.html">Preview</a>
          </div>
        </div>
        <!-- End Card Footer -->
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col mb-5">
      <!-- Card -->
      <div class="card card-bordered h-100">
        <!-- Card Pinned -->
        <div class="card-pinned">
          <img class="card-img-top" src="/assets/svg/components/card-6.svg" alt="Image Description">

          <div class="card-pinned-top-start">
            <small class="badge bg-success rounded-pill">Featured</small>
          </div>

          <div class="card-pinned-bottom-start">
            <div class="d-flex align-items-center flex-wrap">
              <!-- Rating -->
              <div class="d-flex gap-1">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star-half.svg" alt="Review rating" width="16">
              </div>
              <!-- End Rating -->
              <div class="ms-1">
                <span class="fw-semibold text-white me-1">4.73</span>
                <span class="text-white-70">(4.7k+ reviews)</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card Pinned -->

        <!-- Card Body -->
        <div class="card-body">
          <small class="card-subtitle">Code</small>

          <div class="mb-3">
            <h3 class="card-title">
              <a class="text-dark" href="../demo-course/course-overview.html">Get started with Vue.js</a>
            </h3>
          </div>

          <div class="row align-items-center">
            <div class="col">
              <div class="avatar-group avatar-group-xs">
                <a class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="Aaron Larsson" href="#">
                  <img class="avatar-img" src="/assets/img/160x160/img3.jpg" alt="Image Description">
                </a>
                <a class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="Hanna Wolfe" href="#">
                  <img class="avatar-img" src="/assets/img/160x160/img7.jpg" alt="Image Description">
                </a>
              </div>
            </div>
            <!-- End Col -->

            <div class="col-auto">
              <ul class="list-inline list-separator small ms-auto">
                <li class="list-inline-item">
                  <i class="bi-book me-1"></i> 25 lessons
                </li>
                <li class="list-inline-item">
                  <i class="bi-clock me-1"></i> 17h 46m
                </li>
              </ul>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Card Body -->

        <!-- Card Footer -->
        <div class="card-footer pt-0">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-2">
              <span class="d-block text-muted small"><del>$169.99</del></span>
              <h5 class="card-title">$129.99</h5>
            </div>
            <a class="btn btn-primary btn-sm btn-transition" href="../demo-course/course-overview.html">Preview</a>
          </div>
        </div>
        <!-- End Card Footer -->
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col mb-5">
      <!-- Card -->
      <div class="card card-bordered h-100">
        <!-- Card Pinned -->
        <div class="card-pinned">
          <img class="card-img-top" src="/assets/svg/components/card-15.svg" alt="Image Description">

          <div class="card-pinned-bottom-start">
            <div class="d-flex align-items-center flex-wrap">
              <!-- Rating -->
              <div class="d-flex gap-1">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star-muted.svg" alt="Review rating" width="16">
              </div>
              <!-- End Rating -->
              <div class="ms-1">
                <span class="fw-semibold text-white me-1">4.47</span>
                <span class="text-white-70">(3.8k+ reviews)</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card Pinned -->

        <!-- Card Body -->
        <div class="card-body">
          <small class="card-subtitle">Code</small>

          <div class="mb-3">
            <h3 class="card-title">
              <a class="text-dark" href="../demo-course/course-overview.html">The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert</a>
            </h3>
          </div>

          <div class="row align-items-center">
            <div class="col">
              <div class="avatar-group avatar-group-xs">
                <a class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="Hanna Wolfe" href="#">
                  <img class="avatar-img" src="/assets/img/160x160/img7.jpg" alt="Image Description">
                </a>
              </div>
            </div>
            <!-- End Col -->

            <div class="col-auto">
              <ul class="list-inline list-separator small ms-auto">
                <li class="list-inline-item">
                  <i class="bi-book me-1"></i> 42 lessons
                </li>
                <li class="list-inline-item">
                  <i class="bi-clock me-1"></i> 31h 5m
                </li>
              </ul>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Card Body -->

        <!-- Card Footer -->
        <div class="card-footer pt-0">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-2">
              <span class="d-block text-muted small"><del>$159.99</del></span>
              <h5 class="card-title">$111.99</h5>
            </div>
            <a class="btn btn-primary btn-sm btn-transition" href="../demo-course/course-overview.html">Preview</a>
          </div>
        </div>
        <!-- End Card Footer -->
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col mb-5">
      <!-- Card -->
      <div class="card card-bordered h-100">
        <!-- Card Pinned -->
        <div class="card-pinned">
          <img class="card-img-top" src="/assets/svg/components/card-4.svg" alt="Image Description">

          <div class="card-pinned-bottom-start">
            <div class="d-flex align-items-center flex-wrap">
              <!-- Rating -->
              <div class="d-flex gap-1">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star-half.svg" alt="Review rating" width="16">
              </div>
              <!-- End Rating -->
              <div class="ms-1">
                <span class="fw-semibold text-white me-1">4.64</span>
                <span class="text-white-70">(723 reviews)</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card Pinned -->

        <!-- Card Body -->
        <div class="card-body">
          <small class="card-subtitle">Code</small>

          <div class="mb-3">
            <h3 class="card-title">
              <a class="text-dark" href="../demo-course/course-overview.html">Coding block for WordPress</a>
            </h3>
          </div>

          <div class="row align-items-center">
            <div class="col">
              <div class="avatar-group avatar-group-xs">
                <a class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="Hanna Wolfe" href="#">
                  <img class="avatar-img" src="/assets/img/160x160/img7.jpg" alt="Image Description">
                </a>
                <div class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="John O'nolan">
                  <img class="avatar-img" src="/assets/img/160x160/img4.jpg" alt="Image Description">
                </div>
              </div>
            </div>
            <!-- End Col -->

            <div class="col-auto">
              <ul class="list-inline list-separator small ms-auto">
                <li class="list-inline-item">
                  <i class="bi-book me-1"></i> 5 lessons
                </li>
                <li class="list-inline-item">
                  <i class="bi-clock me-1"></i> 8h 12m
                </li>
              </ul>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Card Body -->

        <!-- Card Footer -->
        <div class="card-footer pt-0">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-2">
              <span class="d-block text-muted small"><del>$64.99</del></span>
              <h5 class="card-title">$29.99</h5>
            </div>
            <a class="btn btn-primary btn-sm btn-transition" href="../demo-course/course-overview.html">Preview</a>
          </div>
        </div>
        <!-- End Card Footer -->
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col mb-5">
      <!-- Card -->
      <div class="card card-bordered h-100">
        <!-- Card Pinned -->
        <div class="card-pinned">
          <img class="card-img-top" src="/assets/svg/components/card-14.svg" alt="Image Description">

          <div class="card-pinned-top-start">
            <small class="badge bg-success rounded-pill">Hot</small>
          </div>

          <div class="card-pinned-bottom-start">
            <div class="d-flex align-items-center flex-wrap">
              <!-- Rating -->
              <div class="d-flex gap-1">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              </div>
              <!-- End Rating -->
              <div class="ms-1">
                <span class="fw-semibold text-white me-1">4.9</span>
                <span class="text-white-70">(961 reviews)</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card Pinned -->

        <!-- Card Body -->
        <div class="card-body">
          <small class="card-subtitle">Design & Illustration</small>

          <div class="mb-3">
            <h3 class="card-title">
              <a class="text-dark" href="../demo-course/course-overview.html">Creative Magazine Layout Design</a>
            </h3>
          </div>

          <div class="row align-items-center">
            <div class="col">
              <div class="avatar-group avatar-group-xs">
                <a class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="Hanna Wolfe" href="#">
                  <img class="avatar-img" src="/assets/img/160x160/img7.jpg" alt="Image Description">
                </a>
              </div>
            </div>
            <!-- End Col -->

            <div class="col-auto">
              <ul class="list-inline list-separator small ms-auto">
                <li class="list-inline-item">
                  <i class="bi-book me-1"></i> 35 lessons
                </li>
                <li class="list-inline-item">
                  <i class="bi-clock me-1"></i> 21h
                </li>
              </ul>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Card Body -->

        <!-- Card Footer -->
        <div class="card-footer pt-0">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-2">
              <span class="d-block text-muted small"><del>$179.99</del></span>
              <h5 class="card-title">$129.99</h5>
            </div>
            <a class="btn btn-primary btn-sm btn-transition" href="../demo-course/course-overview.html">Preview</a>
          </div>
        </div>
        <!-- End Card Footer -->
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <div class="text-center">
    <a class="btn btn-link" href="../demo-course/courses.html">See all courses <i class="bi-chevron-right small ms-1"></i></a>
  </div>
</div>
<!-- End Card Grid -->
{{ end }}
